.cover__link {
  position: relative;
  background-image: url(../../../images/cover__background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-decoration: none;
  color: white;
  max-width: 100%;
  min-width: 320px;
  max-height: 740px;
  margin: 0;
}

.cover__link:hover {
  background-color: #2A2C2F;
  transition: background-color linear 2s;
  opacity: .3;
}