.places {
  border: red solid 1px;
  display: grid;
  row-gap: 80px;
  column-gap: 0;
  max-width: 984px;
  min-width: 320px;
  margin: 0 148px 92px;
  padding: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places {
    margin: 0 48px 92px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 0 24px 90px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    margin: 0 0 66px;
  }
}