.cover__subtitle {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 2;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  max-width: 360px;
  margin: 429px auto;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    margin: 379px auto;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin: 299px auto;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    margin: 119px auto;
  }
}