.place__paragraph {
  grid-column: 2/3;
  grid-row: 2/4;
  max-width: 484px;
  min-width: 288px;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .place__paragraph {
    grid-column: 1/2;
    grid-row: 4/5;
    margin: 0 16px;
  }
}