.cover__title-link {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 3;
  color: white;
  text-decoration: none;
  max-width: 1184px;
  max-height: 740px;
  margin: 0;
}

.cover__title-link:hover {
  background-color: #2A2C2F;
  transition: background-color 1s linear 2s;
  opacity: .9;
}

@media screen and (max-width: 1024px) {
  .cover__title-link {
    max-width: 1024px;
    max-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title-link {
    max-width: 768px;
    max-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title-link {
    max-width: 320px;
    max-height: 200px;
  }
}
