.cover {
  max-width: 1184px;
  min-width: 320px;
  max-height: 740px;
  min-height: 200px;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 0 0 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 0 0 88px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin: 0 0 64px;
  }
}

@media screen and (max-width: 320px) {
  .cover {


    margin: 0;
  }
}