.cover__title {
  justify-content: center;
  align-items: center;
  align-self: center;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  max-width: 560px;
  min-height: 152px;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    min-height: 70px;
  }
}