.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  margin: 245px 312px auto;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    max-width: 560px;
    margin: 195px 232px auto;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    max-width: 560px;
    margin: 115px 104px auto;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    margin: 33px 16px auto;
  }
}